---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Jesper Williander">
  <main class="relative w-full h-screen overflow-hidden">
    <!-- Baggrundsvideo -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 w-full h-full object-cover opacity-80 z-10 mix-blend-overlay"
    >
      <source src="/videos/støj.mp4" type="video/mp4" />
    </video>
    <video
      autoplay
      muted
      playsinline
      class="w-full scale-135 h-[900px] object-cover opacity-10 mix-blend-overlay -mt-12"
    >
      <source src="/videos/logo.mp4" type="video/mp4" />
    </video>

    <!-- TV overlay: desktop og mobil -->
    <img
      src="/images/tv.svg"
      alt="TV Overlay desktop"
      class="hidden sm:block absolute inset-0 w-full h-full object-cover z-20 pointer-events-none"
    />
    <img
      src="/images/mobil.svg"
      alt="TV Overlay mobil"
      class="block sm:hidden absolute inset-0 w-full h-full object-cover z-20 pointer-events-none"
    />

    <!-- Centreret logo og knap -->
    <div
      class="absolute inset-0 flex flex-col items-center justify-center z-30"
    >
      <!-- <img
        src="/images/logo.png"
        alt="logo"
        class="w-[50rem] max-w-3xl -mt-50 sm:w-[20rem] sm:max-w-xs sm:-mt-10"
      /> -->
      <a
        href="/kategorier"
        class="px-8 py-4 text-white font-['Jersey_10'] text-3xl tracking-widest whitespace-nowrap transition-colors duration-300 hover:text-[#4bae46] sm:text-4xl sm:px-4 sm:py-2 sm: mt-120"
      >
        &gt; TRYK START
      </a>
    </div>
  </main>
</MainLayout>
