---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Jesper Williander">
  <main class="relative w-full h-screen overflow-hidden">
    <!-- Baggrundsvideo -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 w-full h-full object-cover opacity-100 z-10 mix-blend-overlay"
    >
      <source src="/videos/støj.mp4" type="video/mp4" />
    </video>
    <!-- TV overlay: desktop og mobil -->
    <img
      src="/images/tv.svg"
      alt="TV Overlay desktop"
      class="hidden sm:block absolute inset-0 w-full h-full object-cover z-20 pointer-events-none"
    />
    <img
      src="/images/mobil.svg"
      alt="TV Overlay mobil"
      class="block sm:hidden absolute inset-0 w-full h-full object-cover z-20 pointer-events-none"
    />

    <!-- Logo/menu til venstre -->
    <a
      href="/"
      class="absolute left-15 top-11 z-30 flex flex-col items-center group
        sm:left-4 sm:top-25
        md:left-5 md:top-20
        lg:left-40 lg:top-15"
    >
      <img
        src="/images/logo.png"
        alt="Logo"
        class="w-20 h-20 mb-2 sm:w-12 sm:h-12 md:w-20 md:h-20 lg:w-28 lg:h-28"
      />
    </a>
    <!-- Kategorier centreret -->
    <nav
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-30 flex flex-col items-center space-y-20"
    >
      <a
        href="/about"
        class="text-white font-['Jersey_10'] text-5xl tracking-widest transition-colors duration-300 hover:text-[#4bae46]"
        >Om mig</a
      >
      <a
        href="/billeder"
        class="text-white font-['Jersey_10'] text-5xl tracking-widest transition-colors duration-300 hover:text-[#4bae46]"
        >Billeder</a
      >
      <a
        href="/videoer"
        class="text-white font-['Jersey_10'] text-5xl tracking-widest transition-colors duration-300 hover:text-[#4bae46]"
        >Videoer</a
      >
      <a
        href="/musik"
        class="text-white font-['Jersey_10'] text-5xl tracking-widest transition-colors duration-300 hover:text-[#4bae46]"
        >Musik</a
      >
      <a
        href="/lyd"
        class="text-white font-['Jersey_10'] text-5xl tracking-widest transition-colors duration-300 hover:text-[#4bae46]"
        >Lyd</a
      >
    </nav>
  </main>
</MainLayout>
